<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Without: 0, BFS:1, DFS: 2-->
    <add key="HasDirectivity" value="False"/>
    <add key="HasWeigthed" value="False"/>
    <add key="TypeSearch" value="0"/>

    <!--All combiantions-->
    <!--
    <add key="HasDirectivity" value="True"/>
    <add key="HasWeigthed" value="True"/>
    <add key="TypeSearch" value="0"/>

    <add key="HasDirectivity" value="True"/>
    <add key="HasWeigthed" value="False"/>
    <add key="TypeSearch" value="0"/>

    <add key="HasDirectivity" value="False"/>
    <add key="HasWeigthed" value="True"/>
    <add key="TypeSearch" value="0"/>

    <add key="HasDirectivity" value="False"/>
    <add key="HasWeigthed" value="False"/>
    <add key="TypeSearch" value="0"/>

    <add key="HasDirectivity" value="True"/>
    <add key="HasWeigthed" value="True"/>
    <add key="TypeSearch" value="1"/>

    <add key="HasDirectivity" value="True"/>
    <add key="HasWeigthed" value="False"/>
    <add key="TypeSearch" value="1"/>

    <add key="HasDirectivity" value="False"/>
    <add key="HasWeigthed" value="True"/>
    <add key="TypeSearch" value="1"/>

    <add key="HasDirectivity" value="False"/>
    <add key="HasWeigthed" value="False"/>
    <add key="TypeSearch" value="1"/>

    <add key="HasDirectivity" value="True"/>
    <add key="HasWeigthed" value="True"/>
    <add key="TypeSearch" value="2"/>

    <add key="HasDirectivity" value="True"/>
    <add key="HasWeigthed" value="False"/>
    <add key="TypeSearch" value="2"/>

    <add key="HasDirectivity" value="False"/>
    <add key="HasWeigthed" value="True"/>
    <add key="TypeSearch" value="2"/>

    <add key="HasDirectivity" value="False"/>
    <add key="HasWeigthed" value="False"/>
    <add key="TypeSearch" value="2"/>
    -->
  </appSettings>
</configuration>